@import "fonts";

body {

    // background-color: #000;
    div {
        font-family: Post No Bills Jaffna;
        border-width: 1px 0 2px;
        border-color: black;
        color: red;
        border: solid;
        font-size: 50px;
        font-weight: 900;
    }

    span {
        color: red;
    }

    background: url('@img/unsplash.png') 0 0 no-repeat;
}

header {	font-family: BentonSans;

    p {
        font-family: "Gilroy";
    }
}